* {box-sizing: border-box; }

/* body {
background-color: burlywood;
} */

.main-bio {

  font-family: 'Cormorant Garamond', serif;
  font-size: 45px;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 150px;
  margin-left: 280px;
  margin-right: 280px;
  margin-bottom: 180px;

}

#h1 {
  font-size: 55px;
}