* {box-sizing: border-box; }

/* body {
background-color: burlywood;
} */

.main-bio {

  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5em;
  letter-spacing: 0.06em;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 5.375em;
  margin-left: 11.5em;
  margin-right: 11.5em;
  margin-bottom: 6.25em;
  color: rgb(86, 91, 99)
  
}

#h1 {
  font-size: 1.4em;
}

@media only screen and (max-width: 600px) {
  .main-bio {
    
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    letter-spacing: 0.06em;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 3em;
    margin-left: 1.7em;
    margin-right: 1.7em;
    margin-bottom: 1em;
    color: rgb(86, 91, 99)

  }

  #h1 {
    font-size: 1.2em;
    text-align: left;
  }

}






